In [1]:
# Latihan operator 1

In [2]:
# Penjumlahan
print('Penjumlahan')
print(3+3)

# Pengurangan
print('Pengurangan')
print('-'*10)
print(3-4)

# Perkalian
print('Perkalian')
print('-'*10)
print(3*4)

# Pembagian
print('Pembagian')
print('-'*10)
print(3/4)

# Modulus
print('Modulus')
print('-'*10)
print(4%3)

# Perpangkatan
print('Perpangkatan')
print('-'*10)
print(3**4)

# Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan flooring')
print('-'*10)
print(4//3)

Penjumlahan
6
Pengurangan
----------
-1
Perkalian
----------
12
Pembagian
----------
0.75
Modulus
----------
1
Perpangkatan
----------
81
Pembagian pembulatan flooring
----------
1

In [3]:
# Latihan operator 2

In [4]:
# Penjumlahan
print('Penjumlahan')
x=10
x=x+10
print(x)
x=10
x+=10
print(x)
print('-'*10)

# Pengurangan
print('Pengurangan')
x=10
x=x-10
print(x)
x=10
x-=8
print(x)
print('-'*10)

# Perkalian
print('Perkalian')
x=10
x=x*10
print(x)
x=10
x*=8
print(x)
print('-'*10)

# Pembagian
print('Pembagian')
x=10
x=x/10
print(x)
x=10
x/=8
print(x)
print('-'*10)

# Modulus
print('Modulus')
x=10
x=x%10
print(x)
x=10
x%=8
print(x)
print('-'*10)

# Pembagian Flooring
print('Pembagian Flooring')
x=10
x=x//10
print(x)
x=10
x//=8
print(x)
print('-'*10)

# Perpangkatan
print('Perpangkatan')
x=10
x=x**10
print(x)
x=10
x**=8
print(x)
print('-'*10)

Penjumlahan
20
20
----------
Pengurangan
0
2
----------
Perkalian
100
80
----------
Pembagian
1.0
1.25
----------
Modulus
0
2
----------
Pembagian Flooring
1
1
----------
Perpangkatan
10000000000
100000000
----------

In [5]:
# Latihan operator 3

In [6]:
print(10==10)
print(10!=10)
print(10>10)
print(10<10)
print(10>=10)
print(10<=10)

True
False
False
False
True
True

In [7]:
# Latihan operator 4

In [8]:
print(True and True)
print(False or True)
print(not True and False)

True
True
False

In [9]:
# Latihan operator 5

In [10]:
a=(8,9,10,11,12,13)
b=9

print(b in a)

print('-'*10)
a=(8,9,10,11,12,13)
b=14
print(b not in a)

True
----------
True

In [11]:
# Latihan 1

In [12]:
# Membuat variabel 1
kalimat1='ini adalah variabel1'
bilangan1=2
bilangan2=6
bilangan3=8
bilangan4=2j+2

In [13]:
# menampilkan variabel 1
print(kalimat1)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel1
2
6
8
(2+2j)

In [14]:
# Membuat variabel 2
kalimat2='ini adalah variabel 2'
bilangan5=3
bilangan6=5
bilangan7=7
bilangan8=1j+3

In [15]:
# menampilkan variabel 2
print(kalimat2)
print(bilangan5)
print(bilangan6)
print(bilangan7)
print(bilangan8)

ini adalah variabel 2
3
5
7
(3+1j)

In [16]:
# Membuat variabel 3
kalimat3='ini adalah variabel3'
bilangan9=10
bilangan10=12
bilangan11=14
bilangan12=5j+10

In [17]:
# menampilkan variabel 3
print(kalimat3)
print(bilangan9)
print(bilangan10)
print(bilangan11)
print(bilangan12)

ini adalah variabel3
10
12
14
(10+5j)

In [18]:
# Membuat variabel 4
kalimat4='ini adalah variabel4'
bilangan13=15
bilangan14=20
bilangan15=25
bilangan16=2j+15

In [19]:
# menampilkan variabel 4
print(kalimat4)
print(bilangan13)
print(bilangan14)
print(bilangan15)
print(bilangan16)

ini adalah variabel4
15
20
25
(15+2j)

In [20]:
# Membuat variabel 5
kalimat5='ini adalah variabel5'
bilangan17=50
bilangan18=100
bilangan19=150
bilangan20=25j+50

In [21]:
# menampilkan variabel 5
print(kalimat5)
print(bilangan17)
print(bilangan18)
print(bilangan19)
print(bilangan20)

ini adalah variabel5
50
100
150
(50+25j)

In [22]:
# Latihan 2

In [23]:
# menampilan tipe data
print(type(kalimat1))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'complex'>

In [24]:
# menampilan tipe data
print(type(kalimat2))
print(type(bilangan5))
print(type(bilangan6))
print(type(bilangan7))
print(type(bilangan8))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'complex'>

In [25]:
# menampilan tipe data
print(type(kalimat3))
print(type(bilangan9))
print(type(bilangan10))
print(type(bilangan11))
print(type(bilangan12))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'complex'>

In [26]:
# menampilan tipe data
print(type(kalimat4))
print(type(bilangan13))
print(type(bilangan14))
print(type(bilangan15))
print(type(bilangan16))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'complex'>

In [27]:
# menampilan tipe data
print(type(kalimat5))
print(type(bilangan17))
print(type(bilangan18))
print(type(bilangan19))
print(type(bilangan20))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'complex'>

In [28]:
# Latihan 3

In [29]:
# Variabel 1

In [30]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

# konversi tipe data float
print(float(bilangan1))
print(float(bilangan2))

# konversi type data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

# konversi type data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

6
8
2.0
6.0
2
6
8
True
True
(2+0j)
(6+0j)
(8+0j)

In [31]:
# Variabel 2

In [32]:
# konversi tipe data integer
print(int(bilangan6))
print(int(bilangan7))

# konversi tipe data float
print(float(bilangan5))
print(float(bilangan6))

# konversi type data string
print(str(bilangan5))
print(str(bilangan6))
print(str(bilangan7))

# konversi tipe data bool
print(bool(bilangan5))
print(bool(bilangan6))

# konversi type data complex
print(complex(bilangan5))
print(complex(bilangan6))
print(complex(bilangan7))

5
7
3.0
5.0
3
5
7
True
True
(3+0j)
(5+0j)
(7+0j)

In [33]:
# Variabel 3

In [34]:
# konversi tipe data integer
print(int(bilangan10))
print(int(bilangan11))

# konversi tipe data float
print(float(bilangan9))
print(float(bilangan10))

# konversi type data string
print(str(bilangan9))
print(str(bilangan10))
print(str(bilangan11))

# konversi tipe data bool
print(bool(bilangan9))
print(bool(bilangan10))

# konversi type data complex
print(complex(bilangan9))
print(complex(bilangan10))
print(complex(bilangan11))

12
14
10.0
12.0
10
12
14
True
True
(10+0j)
(12+0j)
(14+0j)

In [35]:
# Variabel 4

In [36]:
# konversi tipe data integer
print(int(bilangan14))
print(int(bilangan15))

# konversi tipe data float
print(float(bilangan13))
print(float(bilangan14))

# konversi type data string
print(str(bilangan13))
print(str(bilangan14))
print(str(bilangan15))

# konversi tipe data bool
print(bool(bilangan13))
print(bool(bilangan14))

# konversi type data complex
print(complex(bilangan13))
print(complex(bilangan14))
print(complex(bilangan15))

20
25
15.0
20.0
15
20
25
True
True
(15+0j)
(20+0j)
(25+0j)

In [37]:
# Variabel 5

In [38]:
# konversi tipe data integer
print(int(bilangan18))
print(int(bilangan19))

# konversi tipe data float
print(float(bilangan17))
print(float(bilangan18))

# konversi type data string
print(str(bilangan17))
print(str(bilangan18))
print(str(bilangan19))

# konversi tipe data bool
print(bool(bilangan17))
print(bool(bilangan18))

# konversi type data complex
print(complex(bilangan17))
print(complex(bilangan18))
print(complex(bilangan19))

100
150
50.0
100.0
50
100
150
True
True
(50+0j)
(100+0j)
(150+0j)